/* Zignoruj proszę "błędy" w tym pliku bo dzięki tym błędom strona działa tak jak należy, jak nie widzisz tych błędów to polecam Visual Studio Code */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html, body {
    background-image: url("Obrazki/Error.png");
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Calibri;
}
html::selection, body::selection {
    background-color: white;
}
#Main {
    height: 100%;
    width: 100%;
}
#Landscape {
    display: none;
}
/* Ikony */
.material-icons {
    float: left;
    font-size: 2vw !important;
    margin: 0;
    padding: 0;
    transition: 0.5s;
}
.material-icons:hover {
    color: gold;
    cursor: url(Obrazki/Dzbanek.png), auto;
}
/* Zaznaczony tekst */
::selection {
    background-color: lightgreen;
    text-shadow: none;
}
/* Inne, do używania w akapitach tekstu */
.WIP {
    color: black;
    background-color: #ff00ff;
}
.Tekst_1 {
    text-indent: 2.5vw;
}
/* Do menu na tel */
.IkonaMenuMobile {
    display: none !important;
}
#LinkiMobile {
    display: none;
}
/* Banner */
#Banner {
    width: 100%;
    height: 10%;
    background: linear-gradient(to bottom right, #c7e21d 0%, #99ff99 100%);
    float: left;
    overflow: hidden;
}
#Banner h1 {
    text-align: center;
    font-size: 3vw;
    font-family: Tangerine, Calibri;
    color: #093527;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    text-shadow: -0.5vw 0.5vw 0vw #00b300, -0.75vw 0.75vw 0vw #00cc00, -1vw 1vw 0vw #33ff33;
    text-transform: capitalize;
}
/* Menu */
#Menu {
    width: 15%;
    height: 85%;
    color: #093527;
    background-color: #E3E7CB;
    float: left;
    padding: 0.4vw;
    overflow: auto;
}
#Menu h1 {
    text-align: center;
    font-size: 2.5vw;
    margin-top: 0.01vw;
    margin-bottom: 0.01vw;
    text-shadow: 0.3vw 0.2vw 0px #7A7A7A;
    text-transform: capitalize;
}
#Menu h2 {
    text-align: center;
    font-size: 2vw;
    margin-top: 0.01vw;
    margin-bottom: 0.01vw;
    text-transform: capitalize;
}
#Menu ul {
    margin: 0;
    padding: 0;
}
#Menu ol {
    margin: 0;
    padding: 0;
}
#Menu li {
    list-style-type: none;
    width: 100%;
    text-align: center;
    margin-bottom: 0.5vw;
    font-size: 1vw;
}
#Menu a {
    text-decoration: none;
    background-color: #cee539;
    border: 0.1vw inset #093527;
    color: #093527;
    display: inline-block;
    width: 100%;
    transition: 0.5s;
    font-size: 1vw;
    padding: 0.1vw;
    text-transform: capitalize;
}
#Menu a:hover {
    color: #3cd816;
    background: linear-gradient(to right, #093527 25%, #33ff33 150%);
    border-bottom-right-radius: 2vw;
    font-style: italic;
    cursor: url(Obrazki/Dzbanek.png), auto;
}
#Menu hr {
    width: 100%;
    height: 0.3vw;
    background: linear-gradient(to right, #003300 0%, #33ff33 70%);
    border: 0;
    margin: 0;
}
#Menu input[type=text] {
    width: 100%;
    font-size: 1vw;
    border: none;
    background-color: #E3E7CB;
}
/* Content */
#Content {
    width: 85%;
    height: 85%;
    color: black;
    background-color: #F5F9DB;
    float: left;
    overflow: auto;
}
#Content h1 {
    background-color: #cee539;
    font-size: 2vw;
    color: #096527;
    border-left: 0.25vw #a0b517 solid;
    text-shadow: #FFFCA8 0.15vw 0.15vw 0vw, #9C9C9C 0.3vw 0.3vw 0vw;
    margin-top: 0.25vw;
    margin-bottom: 0.25vw;
    margin-left: 0.125vw;
    text-transform: capitalize;
}
#Content h2 {
    background-color: #e8f3a5;
    font-size: 1.5vw;
    color: #326756;
    border-left: 0.25vw #d3e84a solid;
    text-shadow: 0.25vw 0.25vw 0.5vw #33ff33;
    margin-top: 0.25vw;
    margin-bottom: 0.25vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    transition: 0.5s;
    text-transform: capitalize;
}
#Content input[type=button] {
    color: #093527;
    background-color: #CEE539;
    border: 0.1vw solid #459078;
    border-radius: 1vw 1vw 25vw 25vw;
    width: 90%;
    margin-left: 5%;  /* Chyba nie tak to powinno być, ale jakoś działa xd, margin auto???*/
    margin-right: 5%;
    text-align: center;
    font-size: 2vw;
    transition: 0.5s;
}
#Content input[type=button]:hover {
    color: #093527;
    background-color: #e3f08e;
    box-shadow: inset 0 0 0 0.2vw #459078;
    cursor: url(Obrazki/Dzbanek.png), auto;
}
#Content input[type=number] {
    font-size: 1vw;
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
}
#Content table {
    width: 90%;
    margin: auto;
    border-spacing: 0.5vw;
}
#Content th {
    background-color: #CEE539;
    color: #096527;
    font-size: 1.5vw;
    text-transform: capitalize;
    border-bottom: 0.1vw #096527 dotted;
}
#Content td {
    background-color: #EEF6BB;
    font-size: 1.25vw;
}
#Content tr:nth-child(even) td {
    background-color: #e3f08e;
}
#Content .Link_1 { /* Normlany Link*/
    font-size: 1.5vw;
    margin-top: 0.01vw;
    margin-bottom: 0.01vw;
    text-decoration: underline;
    color: #093527;
    transition: 0.5s;
}
#Content .Link_1:hover {
    /*color: #33ff33;*/
    color: gold;
    cursor: url(Obrazki/Dzbanek.png), auto;
}
#Content .Link_2 { /* Ładny link, używany przy linkach do notatek */
    text-decoration: none;
    display: inline-block;
    height: auto;
    /*width: calc(33.33% - 0.4vw); Niby działa ale nie do końca :(*/
    /*width: calc(33.33% - 0.5vw); -||- */
    width: calc(33.33% - 1vw);
    color: #093527;
    background-color: #aaff80;
    font-size: 1.25vw;
    text-align: center;
    margin-top: 0.25vw;
    margin-bottom: 0.25vw;
    margin-left: 0.1vw;
    margin-right: 0.1vw;
    padding: 0;
    border: 0.1vw ridge #093527;
    border-radius: 1vw 1vw 0vw 0vw;
    overflow: hidden;
    transition: 0.5s;
}
#Content .Link_2:hover {
    color: #33ff33;
    background: linear-gradient(to bottom, #003300 -20%, #669900 120%);
    border: 0.1vw ridge #126d50;
    box-shadow: -0.5vw 0vw 0.8vw -0.6vw black, 0.5vw 0vw 0.8vw -0.6vw black, 0.3vw 0.3vw 1vw 0.3vw black;
    cursor: url(Obrazki/Dzbanek.png), auto;
}
#Content p {
    font-size: 1.25vw;
    padding: 0.25vw;
}
/* Footer */
#Footer {
    width: 100%;
    height: 5%;
    background-color: #093527;
    clear: both;
    overflow: hidden;
}
#Footer button {
    color: #093527;
    font-size: 2vw;
    border: 0.1vw ridge #093527;
    border-radius: 1vw 1vw 1vw 1vw;
    background-color: #aaff80;
    transition: 0.5s;
}
#Footer button:hover {
    color: #33ff33;
    background: linear-gradient(to bottom, #003300 -20%, #669900 120%);
    cursor: url(Obrazki/Dzbanek.png), auto;
}
#Footer p {
    font-size: 1.25vw;
    color: #CEE539;
    text-align: center;
    margin-top: 0.01vw;
    margin-bottom: 0.01vw;
    display: inline;
    float: right;
}
    /*Animacja, przerobiona trochę wersja tego https://youtu.be/nZsEYi3Uxro*/
.Animacja_2 {
    transition: translate(-50%, -50%);
    padding: 1vw;
    display: inline-block;
    float: right;
}
.Animacja_2 span{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1vw;
    display: inline-block;
    opacity: 1;
    transform: translate(-10px, 0), scale(0.4);
    animation: Nazwa 3.5s forwards;
    animation-iteration-count: infinite;
    letter-spacing: 0.75vw;
    font-family: 'Times New Roman';
}
.Animacja_2 span:nth-of-type(2) {
    /*animation-delay: 0.625s;*/
    animation-delay: 0.5s;
}
.Animacja_2 span:nth-of-type(3) {
    /*animation-delay: 1.25s;*/
    animation-delay: 1s;
}
.Animacja_2 span:nth-of-type(4) {
    /*animation-delay: 1.875s;*/
    animation-delay: 1.5s;
}
.Animacja_2 span:nth-of-type(5) {
    /*animation-delay: 2.5s;*/
    animation-delay: 2s;
}
.Animacja_2 span:nth-of-type(6) {
    /*animation-delay: 3.125s;*/
    animation-delay: 2.5s;
}
.Animacja_2 span:nth-of-type(7) {
    /*animation-delay: 3.75s;*/
    animation-delay: 3s;
}
.Animacja_2 span:nth-of-type(8) {
    /*animation-delay: 4.375s;*/
    animation-delay: 3.5s;
}
    /* Grafiki - to to akurat z internetu skopiowałem (https://www.w3schools.com/howto/howto_js_tab_img_gallery.asp), ale żeby nie było - dużo pozmieniałem */
.Grafika {
    float: left;
    padding: 0.1vw;
    text-align: center;
    height: 10%;
    width: 10%;
    }  
        /* Układ obrazków */
.Grafika img {
    opacity: 0.5;
    cursor: pointer;
    transition: 0.5s;
    width: 100%;
    height: 100%;
}  
.Grafika img:hover {
    opacity: 1;
    cursor: url(Obrazki/Dzbanek.png), auto;
}  
        /* Ustawienie float */
.Grafiki:after {
    content: "";
    display: table;
    clear: both;
}  
        /* Miejsce na powiększony obrazek */
.Kontener_Obrazkow {
    position: relative;
    display: none;
}  
        /* Tekst na obrazku */
#Opis_Obrazka {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    background-color: black;
    border-radius: 2.5vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    opacity: 0.7;
    font-size: 2vw;
}  
        /* Guzik do zamknięcia obrazka */
.Guzik {
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
    background-color: black;
    border-radius: 10vw;
    font-size: 4vw;
    cursor: pointer;
}
    /* Tooltip - to to akurat z internetu skopiowałem (https://www.w3schools.com/css/css_tooltip.asp), ale żeby nie było - dużo pozmieniałem */
.Tooltip {
    position: relative;
    display: inline-block;
}
.Tooltip .Tooltip_Opis {
    font-size: 1vw;
    visibility: hidden;
    width: 100%;
    background-color: black;
    opacity: 0.9;
    color: white;
    text-align: center;
    border-radius: 0.5vw;
    padding: 0.1vw 0vw;
        /* Pozycja tooltipa */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -50%; /* Tu MUSI być width/2 inaczej nie zadziała*/
}
.Tooltip:hover .Tooltip_Opis {
    visibility: visible;
    cursor: url(Obrazki/Dzbanek.png), auto;
}
    /* Pasek przewijania, nie dla Firefoxa scrollbar */
::-webkit-scrollbar {
    width: 1vw;
}
        /* Zaznaczone miejsce */
::-webkit-scrollbar-thumb {
    /*background: linear-gradient(to bottom, #093527 15%, #33ff33 75%);*/
    background: #00e673;
    border-radius: 1.5vw;
}
    /* Spam, patrz callout, https://www.w3schools.com/howto/howto_js_callout.asp */
#Spam {
    position: fixed;
    bottom: 75px;
    right: 20px;
    max-width: 500px;
    max-height: 500px;
}
#SpamBanner {
    padding: 25px 15px;
    background-color: #00b300;
    font-size: 3vw;
    color: gold;
    font-family: Tangerine, Calibri;
    border: 2px solid darkgreen;
}
#SpamContent {
    padding: 1vw;
    background-color: #33ff33;
    color: black;
    border-radius: 0vw 0vw 2.5vw 2.5vw;
    border-bottom: 2px solid green;
    border-left: 2px solid green;
    border-right: 2px solid green;
    font-size: 1vw;
}
#SpamGuzik {
    position: absolute;
    top: 5px;
    right: 15px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
#SpamGuzik:hover {
    color: black;
    cursor: url(Obrazki/Dzbanek.png), auto;
}
/* Media, widok na telefonach itp */
@media (max-width: 992px) and (orientation: portrait) /*Jeżeli rozmiar okna jest mniejszy niż 992px*/
{
    /* Baner */
    #Banner {
        overflow: auto;
    }
    #Banner h1 {
        font-size: 10vw;
        margin-top: 0.01vw;
        margin-bottom: 0.01vw;
    }
    /* Content */
    #Content {
        width: 100%;
        height: 85%;
        overflow: auto;
    }
    #Content h1 {
        font-size: 7vw;
        margin-top: 0.2vw;
        margin-bottom: 0.2vw;
        border-left: 2.5vw #a0b517 solid;
        margin-bottom: 5vw;
    }
    #Content h2 {
        font-size: 4vw;
    }
    #Content th {
        font-size: 2.5vw;
    }
    #Content td {
        font-size: 3vw;
    }
    #Content input[type=number] {
        font-size: 2vw;
    }
    #Content a {
        font-size: 3vw;
    }
    #Content p {
        font-size: 3vw;
    }
    #Content .Link_1 {
        font-size: 3vw;
    }
    #Content .Link_2 {
        font-size: 3vw;
        /*width: calc(50% - 0.5vw);*/
        width: calc(50% - 1vw);
    }
    /* Footer */
    #Footer {
        height: 5%;
    }
    #Footer p {
        font-size: 5vw;
    }
    #Footer button {
        font-size: 5vw;
    }
    /* Grafika */
    .Grafika {
        height: 25%;
        width: 25%;
    }  
        /* Układ obrazków */
    .Grafika img {
        opacity: 0.5;
        transition: 0.5s;
        width: 100%;
        height: 100%;
    }  
    .Grafika img:hover {
        opacity: 1;
    } 
    /* Tooltip */
    .Tooltip .Tooltip_Opis {
        width: 25vw;
        margin-left: -12.5vw !important;
        transition: initial !important;
    }
    /* Ikony */
    #Banner .material-icons {
        font-size: 10vw !important;
    }
    #Menu .material-icons {
        font-size: 3vw !important;
    }
    #LinkiMobile .material-icons {
        font-size: 3vw !important;
    }
    #Footer .material-icons {
        font-size: 5vw !important;
    }
    .Akapit .material-icons { /* Ikony przy "Ważne" */
        font-size: 3vw !important;
    }
    .MiniBanner .material-icons { /* Ikony przy h1 */
        font-size: 7vw !important;
    }
    .DownloadLink .material-icons { /* Ikony przy linkach w tabeli */
        font-size: 3vw !important;
    }
    /* Inne */
    .Tekst_1 {
        text-indent: 5vw;
    }
    /* Menu na tel*/
    .IkonaMenuMobile { /* Zignoruj ten "błąd", ale dzięki temu guzik jest po prawej*/
        display: inline-block !important;
        text-shadow: initial;
        width: 10vw !important;
        height: 10vw !important;
        overflow-x: hidden;
        float: right !important;
    }
    #LinkiMobile {
        display: none;
        color: #093527;
        background-color: #E3E7CB;
        overflow: auto;
        padding: 0.4vw;
        height: 30%;
        width: 100%;
    }
    #LinkiMobile h1 {
        text-align: center;
        font-size: 4vw;
        margin-top: 0.01vw;
        margin-bottom: 0.01vw;
        text-shadow: 0.3vw 0.2vw 0px #7A7A7A;
        text-transform: capitalize;
    }
    #LinkiMobile h2 {
        text-align: center;
        font-size: 3vw;
        margin-top: 0.01vw;
        margin-bottom: 0.01vw;
        text-transform: capitalize;
    }
    #LinkiMobile ul {
        margin: 0;
        padding: 0;
    }
    #LinkiMobile ol {
        margin: 0;
        padding: 0;
    }
    #LinkiMobile li {
        list-style-type: none;
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        text-align: center;
        margin-bottom: 0.5vw;
        font-size: 1vw;
    }
    #LinkiMobile a {
        text-decoration: none;
        background-color: #cee539;
        border: 0.1vw inset #093527;
        color: #093527;
        display: inline-block;
        width: 100%;
        transition: 0.5s;
        font-size: 3vw;
        padding: 0.1vw;
        text-transform: capitalize;
    }
    #LinkiMobile a:hover {
        color: #3cd816;
        background: linear-gradient(to right, #093527 25%, #33ff33 150%);
        border-bottom-right-radius: 2vw;
        font-style: italic;
    }
    #LinkiMobile hr {
        width: 100%;
        height: 0.3vw;
        background: linear-gradient(to right, #003300 0%, #33ff33 70%);
        border: 0;
        margin: 0;
    }
    #LinkiMobile .material-icons {
        font-size: 3vw !important;
    }
    #Menu {
        display: none !important;
    }
    .Animacja_2 span {
        font-size: 5vw !important;
    }
    /* Spam */
    #Spam {
        display: none;
    }
    @keyframes Nazwa {
        30% {
            transform: translate(10px, 0) scale(0.7);
            color: black;
        }
        40% {
            color: white;
        }
        90% {
            transform: translate(0) scale(1.5);
        }
        100% {
            transform: translate(0) scale(1.5);
            color: gold;
        }
    }
}
/* Na jeszcze mniejsze ekrany */
@media (max-width: 600px) and (orientation: portrait)
{
    #Content .Link_2 {
        margin-left: 5% !important;
        margin-right: 5% !important;
        width: 90%;
    }
}
@media (max-width: 992px) and (orientation: landscape)
{
    .Animacja_2 {
        display: none !important;
    }
    #Landscape {
        display: inline-block !important;
    }
    #Footer button {
        font-size: 2.5vw;
    }
    #Footer p {
        font-size: 3vw;
    }
}
@keyframes Nazwa {
    30% {
        transform: translate(10px, 0) scale(0.7);
        color: black;
    }
    40% {
        color: white;
    }
    90% {
        transform: translate(0) scale(1.5);
    }
    100% {
        transform: translate(0) scale(1.5);
        color: gold;
    }
}