* {
    box-sizing: border-box;
}
html, body {
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Calibri;
}
#Main {
    height: 100%;
    width: 100%;
}
/* Inne*/
.WIP {
    color: black;
    background-color: #ff00ff;
}
/* Banner */
#Banner {
    width: 100%;
    height: 10%;
    background: linear-gradient(to bottom right, #c7e21d 0%, #99ff99 100%);
    float: left;
}
#Banner h1 {
    text-align: center;
    font-size: 3vw;
    color: #093527;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    /*text-shadow: -5px 5px 0px #00b300, -10px 10px 0px #00cc00, -15px 15px 0px #33ff33;*/
    text-shadow: -0.5vw 0.5vw 0vw #00b300, -0.75vw 0.75vw 0vw #00cc00, -1vw 1vw 0vw #33ff33;
}
/* Menu */
#Menu {
    width: 15%;
    height: 85%;
    color: #093527;
    background-color: #E3E7CB;
    float: left;
    padding: 0.4vw;
    overflow: auto;
}
#Menu h1 {
    text-align: center;
    font-size: 2.5vw;
    margin-top: 0.01vw;
    margin-bottom: 0.01vw;
    text-shadow: 0.3vw 0.2vw 0px #7A7A7A;
}
#Menu h2 {
    text-align: center;
    font-size: 2vw;
    margin-top: 0.01vw;
    margin-bottom: 0.01vw;
}
#Menu ul {
    margin: 0;
    padding: 0;
}
#Menu ol {
    margin: 0;
    padding: 0;
}
#Menu li {
    list-style-type: none;
    width: 100%;
    text-align: center;
    margin-bottom: 0.5vw;
    font-size: 1vw;
}
#Menu a {
    text-decoration: none;
    background-color: #a9d6c7;
    border: 1px inset #093527;
    color: #093527;
    display: inline-block;
    width: 100%;
    transition: 0.5s;
    font-size: 1vw;
}
#Menu a:hover {
    color: #3cd816;
    /*background-color: #093527;*/
    background: linear-gradient(to right, #093527 25%, #33ff33 150%);
    border-bottom-right-radius: 2vw;
    font-style: italic;
}
#Menu hr {
    width: 100%;
    height: 0.3vw;
    /*border: 2px solid #3cd816;
    background-color: #3cd816;*/
    background: linear-gradient(to right, #003300 0%, #33ff33 70%);
    border: 0;
    margin-bottom: 0.3vw;
}
/* Content */
#Content {
    width: 85%;
    height: 85%;
    color: #093527;
    background-color: #F5F9DB;
    float: left;
    overflow: auto;      
    padding: 0.4vw;
}
#Content h1 {
    background-color: #deed78;
    font-size: 2vw;
    border-left: 0.25vw #a0b517 solid;
    /*text-shadow: 2px 2px 4px #33ff33;*/
    /*text-shadow: #FFFCA8 2px 2px 0px, #9C9C9C 4px 4px 0px;*/
    text-shadow: #FFFCA8 0.15vw 0.15vw 0vw, #9C9C9C 0.3vw 0.3vw 0vw;
    margin-top: 0.01vw;
    margin-bottom: 0.15vw;
}
#Content h2 {
    font-size: 1.5vw;
    margin-top: 0.01vw;
    margin-bottom: 0.01vw;
}
#Content input[type=button] {
    color: #093527;
    background-color: #CEE539;
    border: 0.1vw solid #459078;
    border-radius: 1vw 1vw 25vw 25vw;
    width: 90%;
    margin-left: 5%;  /* Chyba nie tak to powinno być, ale jakoś działa xd, margin auto???*/
    margin-right: 5%;
    text-align: center;
    font-size: 2vw;
    transition: 0.5s;
}
#Content input[type=button]:hover {
    color: #093527;
    background-color: #e3f08e;
    box-shadow: inset 0 0 0 0.2vw #459078;
}
#Content input[type=number] {
    font-size: 1vw;
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
}
#Content table {
    width: 90%;
    margin: auto;
    border-spacing: 0.5vw;
}
#Content th {
    background-color: #CEE539;
    margin: 1vw;
    font-size: 1.5vw;
}
#Content td {
    background-color: #EEF6BB;
    margin: 1vw;
    font-size: 1vw;
}
#Content .Normal_Link { /* Normlany Link*/
    font-size: 1.5vw;
    text-decoration: underline;
    color: #093527;
    transition: 0.5s;
}
#Content .Normal_Link:hover {
    color: #CEE539;
}
#Content .Link_1 {
    background-color: #e8f3a5;
    font-size: 1.5vw;
    border-left: 0.25vw #d3e84a solid;
    text-shadow: 2px 2px 4px #33ff33;
    margin-top: 0.01vw;
    margin-bottom: 0.01vw;
    transition: 0.5s;
}
#Content .Link_2 { /* Ładny link, używany przy linkach do notatek */
    text-decoration: none;
    display: inline-block;
    height: auto;
    width: 33%;
    color: #093527;
    background-color: #aaff80;
    font-size: 1.75vw;
    text-align: center;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    padding: 0.01vw;
    border: 0.1vw ridge #093527;
    /*border-radius: 1vw;*/
    border-radius: 1vw 1vw 0vw 0vw;
    overflow: hidden;
    transition: 0.5s;
}
#Content .Link_2:hover {
    color: #33ff33;
    /*background-color: #093527;*/
    background: linear-gradient(to bottom, #003300 -20%, #669900 120%);
    border: 0.1vw ridge #126d50;
    box-shadow: -10px 0px 13px -7px black, 10px 0px 13px -7px black, 5px 5px 15px 5px black;
}
#Content p {
    font-size: 1.25vw;
}
/* Footer */
#Footer {
    width: 100%;
    height: 5%;
    background-color: #093527;
    clear: both;
}
#Footer p {
    font-size: 1.5vw;
    color: #CEE539;
    text-align: center;
    margin-top: 0.01vw;
    margin-bottom: 0.01vw;
}
    /* Grafiki - to to akurat z internetu skopiowałem (https://www.w3schools.com/howto/howto_js_tab_img_gallery.asp), ale żeby nie było - dużo pozmieniałem*/
.Grafika {
    float: left;
    padding: 0.1vw;
    text-align: center;
    width: 25%;
  }  
        /* Style the images inside the grid */
.Grafika img {
    opacity: 0.5;
    cursor: pointer;
    transition: 0.5s;
    width: 15vw;
    height: 15vw;
}  
.Grafika img:hover {
    opacity: 1;
}  
        /* Clear floats after the columns */
.Grafiki:after {
    content: "";
    display: table;
    clear: both;
}  
        /* The expanding image container (positioning is needed to position the close button and the text) */
.Kontener_Obrazkow {
    position: relative;
    display: none;
}  
        /* Expanding image text */
#Opis_Obrazka {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    background-color: black;
    opacity: 0.7;
    font-size: 2vw;
}  
        /* Closable button inside the image */
.Guzik {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}
.Sekcja_Grafik {
    float: initial !important;
}
        /* Media, widok na telefonach itp */
@media (max-width: 992px) { /*Jeżeli rozmiar okna jest mniejszy niż 992px*/
    /* Baner */
    #Banner {
        height: auto;
    }
    #Banner h1 {
        font-size: 4vw;
        margin-top: 0.01vw;
        margin-bottom: 0.01vw;
    }
    /* Menu */
    #Menu {
        width: 100%;
        height: auto;
    }
    #Menu h1 {
        font-size: 4vw;
    }
    #Menu h2 {
        font-size: 3vw;
    }
    #Menu li {
        margin-bottom: 7px;
    }
    #Menu a {
        padding: 0.5vw;
        font-size: 3vw;
        width: 90%;
    }
    /* Content */
    #Content {
        width: 100%;
        height: auto;
    }
    #Content h1 {
        font-size: 7vw;
        margin-top: 0.01vw;
        margin-bottom: 0.01vw;
        border-left: 2.5vw #a0b517 solid;
    }
    #Content h2 {
        font-size: 4vw;
    }
    #Content th {
        font-size: 2.5vw;
    }
    #Content td {
        font-size: 2vw;
    }
    #Content input[type=number] {
        font-size: 2vw;
    }
    #Content a {
        font-size: 3vw;
    }
    #Content p {
        font-size: 2vw;
    }
    #Content .Link_1 {
        font-size: 3vw;
        border-left: 3.5vw #d3e84a solid;
    }
    #Content .Link_2 {
        font-size: 3vw;
    }
    /* Footer */
    #Footer {
        height: auto;
    }
    #Footer p {
        font-size: 3vw;
    }
}