* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html, body {
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Calibri;
    background-color: black;
    user-select: none; /* Chrome Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
/* Main */
#Main {
    height: 100%;
    width: 100%;
}
/* Top */
#Top {
    height: 10%;
    width: 100%;
    background-color: #FDB953;
    color: #302008;
    float: left;
    overflow: auto;
    border-bottom: 2px dotted #ff8000; /* Mam nadzieje że to niczego nie zepsuje...*/
}
#Top #TextArea {
    height: 100%;
    width: 100%;
    color: #302008;
    background-color: #FDB953;
    resize: none;
    border: none;
    outline: none;
    font-family: Consolas, Calibri;
}
/* Content */
#Content {
    height: 85%;
    width: 100%;
    background-color: #FEE1B6;
    color: black;
    float: left;
    padding-left: 7px;
    padding-right: 7px;
    overflow: auto;
}
#Content #Title {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 3.5vw;
    margin-top: 0.15vw;
    margin-bottom: 0;
    background: linear-gradient(to right, #fee1b6, #e88c02,#fee1b6);
}
#Content h2 {
    text-align: left;
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;
}
#Content label {
    color: black;
    width: 20%;
    float: left;
    text-align: right;
    white-space: pre;
}
#Content input[type=text] {
    width: 80%;
    outline: none;
    transition: 1s;
    border: 1px solid #302008;
    padding-left: 3px;
    padding-right: 3px;
}
#Content input[type=text]:hover {
    color: #302008;
    background-color: #fdc168;
}
#Content input[type=text]::selection {
    background: #fdb74e;
}
.Button_Clicker {
    display: inline-block;
    color: #834F01;
    background-color: #E88C02;
    border: 1px gold solid;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    transition: 0.25s;
}
.Button_Clicker:active {
    color: #E88C02;
    background-color: #834F01;
}
/*#Button_Clicker:focus {
    background-color: blue;
}*/
#Content td {
    transition: 0.5s;
}
#Content .Hover:hover {
    background-color: #E88C02;
    color: #FEE1B6;
}
#Content hr {
    border: none;
    height: 2px;
    margin-top: 0.25vw;
    margin-bottom: 0.25vw;
    background-color: #E88C02;
}
progress {
    width: 100%;
    border: 1px solid black;
}
progress::-webkit-progress-bar {
    background-color: #834F01;
}
progress::-webkit-progress-value {
    background-color: #E88C02;
}
progress[value]::-webkit-progress-value {
    background: linear-gradient(to right, #e88c02 25%, #ffcc00 115%);
}
#Content table {
    border: 1px solid #302008;
    border-collapse: separate;
}
#Content td, th {
    border: 1px solid #e88c02;
}
#Content th {
    background-color: #FDB953;
}
/* Bottom */
#Bottom {
    height: 5%;
    width: 100%;
    background-color: #302008;
    color: #E88C02;
    clear: both;
}